html,
body {
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  margin: 0;
  padding: 0;
  background-color: #f1f2f7;
}

.modal-header h1 {
  font-size: 30px;
  font-weight: 400;
  margin-left: 10px;
  margin-top: 5px;
  /* color: #2f5876; */
  /* color: #4d6fff; */
  color:white;
}
.logo{
  width: 60px;
}

.modal-header{
  justify-content: center;
  padding:5px;
  background-color: #343434;
  border-radius:0;
}

/* Home screen */

/* .popup{
  height:700px;
  width:500px;
  background-color: #f1f2f7;
} */

/* CARDS */

.card-columns {
  column-count: 2;
  padding: 10px;
}

.card{
  box-shadow: rgba(153, 153, 153, 0.19) 2px 3px;
}

.card .header{
  display:block;
  margin: 0 auto;
}

.card-img{
  width:40px;
  height:40px;
  display:block;
  float:left;
  margin-right: 10px;
}

.card-title{
  padding: 8px 0;
  font-weight:400;
}

.card-header{
  padding: 0 !important;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* #ambient-noise{
  border-color:#04AA6D;
} */

#ambient-noise .card-title{
  margin-top:2px;
  font-size: 1.4rem;
  /* color:#04AA6D; */
}

#text-to-speech .card-title, #censor .card-title{
  margin-top:2px;
  font-size: 1.35rem;
  font-weight:500;
}

#primary-color{
  background-color: #3f43e7;
}

/* Saturation */

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #04AA6D;
    background: #4d6fff;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    /* background: #04AA6D; */
    background: #4d6fff;
    cursor: pointer;
  }

  .sounds .tts-features {
    font-size: 12px;
  }

/* DarkMode */
  
#darkMode{
  position: relative;
  width: 60px;
  height: 34px;
  left: 0;
}

#darkMode input{
  opacity: 0;
  height: 0;
  width: 0;
}

#darkMode .toggler{
  width: 100%;
  height: 90%;
  transition: 0.4s;
  background-color: #343434;
  border-radius: 34px;
  position: absolute;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#darkMode .toggler::before{
  content: '';
  position: absolute;
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  left: 5px;
  bottom: 3px;
  transition: 0.4s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#darkMode input:checked + .toggler::before{
  transform: translateX(28px);
  background-color: #343434;
  
}

#darkMode input:checked + .toggler{
  background-color: white;
}

/* Ambient sounds play/pause */
#play-it{
  /* display: block; */
  display: inline;
  float: right;
  height: 30px;
  width: 30px;
  margin: 0 auto;
}
#play{
  display: none;
}

#play:checked~.icon{
  width:20px;
  height:30px;
  border-left: 6px solid #4d6fff;
  border-right: 6px solid #4d6fff;
  border-top: 0px solid transparent;
  border-bottom: 0px solid transparent;
}

#play-it .icon{
  margin-top: 5px;
  display:block;
  left:0;right:0;
  bottom:0;top:0;
  
  width:0;
  height:0;
  
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 20px solid #4d6fff;
  
  transition: all .5s ease;
}


button, input, optgroup, select, textarea{
  margin-bottom:10px;
}

/* .btn{
  display:block;
  margin: 0 auto;
} */